# SQLite 3

In [1]:
#import the sqlite3

import sqlite3

#(Then create a connection using .connect() method and pass the name of the database you want to access if there is a 
# file with that name, it will open that file. Otherwise, Python will create a file with the given name.)

db = sqlite3.connect('my_database.db')

# After this, a cursor object is called to be capable to send commands to the SQL

cursor=db.cursor()

# It will give you output if there is no error

print('Connected with the database')

# for closing the connection
db.close()

Connected with the database

In [6]:
import sqlite3
db=sqlite3.connect('my_file.db')


# using .execute() for writing any command (data) in the table
db.execute('drop table if exists grades1')  #grades1 is the table name
db.execute('create table grades1(id int,name text,score int)') # Into the grades1 bracket all of the heading names have written
db.execute("insert into grades1(id,name,score) values(101,'John',99)")
db.execute("insert into grades1(id,name,score) values(102,'Gary',90)")
db.execute("insert into grades1(id,name,score) values(103,'James',80)")
db.execute("insert into grades1(id,name,score) values(104,'Harry',87)")
db.execute("insert into grades1(id,name,score) values(105,'Peter',77)")

# using .commit() for save or store our data permanently in the table

db.commit()

In [9]:
results=db.execute("select*from grades1 order by id") # Here * means everything
for row in results:
    print(row)
    print("-"*60) # Means it prints this 60 times

(101, 'John', 99)
------------------------------------------------------------
(102, 'Gary', 90)
------------------------------------------------------------
(103, 'James', 80)
------------------------------------------------------------
(104, 'Harry', 87)
------------------------------------------------------------
(105, 'Peter', 77)
------------------------------------------------------------

In [10]:
results=db.execute("select*from grades1 order by id") # Here * means everything
for row in results:
    print(row)

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Harry', 87)
(105, 'Peter', 77)

In [11]:
results=db.execute("select*from grades1 where score>=90")
for row in results:
    print(row)

(101, 'John', 99)
(102, 'Gary', 90)

In [17]:
results=db.execute("select*from grades1 name")
for row in results:
    print(row)

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Harry', 87)
(105, 'Peter', 77)

In [18]:
results=db.execute("select*from grades1 order by score desc") # Here desc means descending
for row in results:
    print(row)

(101, 'John', 99)
(102, 'Gary', 90)
(104, 'Harry', 87)
(103, 'James', 80)
(105, 'Peter', 77)